body, td {
  
}

a {
}

a:hover {
}

.texto {
	border: 2px solid #ccc;
	-webkit-border-radius: 8px;  
	border-radius: 8px;
	-webkit-box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
	box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);  
	font-size:16px;
	padding:15px;
	height:25px;
   
}

.bt_boleto {
	border: 1px solid #333;
	-webkit-border-radius: 8px;  
	border-radius: 8px;
	-webkit-box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
	box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
	background: #cdeb8b; /* Old browsers */
	background: -moz-linear-gradient(top,  #cdeb8b 0%, #cdeb8b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8b), color-stop(100%,#cdeb8b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cdeb8b 0%,#cdeb8b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cdeb8b 0%,#cdeb8b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cdeb8b 0%,#cdeb8b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cdeb8b 0%,#cdeb8b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8b', endColorstr='#cdeb8b',GradientType=0 ); /* IE6-9 */
	width:230px;
	height:45px;
	margin:10px;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	display:block;
}

.bt_boleto:hover {
	border: 1px solid #333;
	-webkit-border-radius: 8px;  
	border-radius: 8px;
	-webkit-box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
	box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
	background: #8fc400;
	background: -moz-linear-gradient(top,  #8fc400 0%, #8fc400 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc400), color-stop(100%,#8fc400));
	background: -webkit-linear-gradient(top,  #8fc400 0%,#8fc400 100%);
	background: -o-linear-gradient(top,  #8fc400 0%,#8fc400 100%);
	background: -ms-linear-gradient(top,  #8fc400 0%,#8fc400 100%);
	background: linear-gradient(to bottom,  #8fc400 0%,#8fc400 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 );
	width:230px;
	height:45px;
	margin:10px;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	display:block;

}

.bt_mp {
	border: 1px solid #333;
	-webkit-border-radius: 8px;  
	border-radius: 8px;
	-webkit-box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
	box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
	background: #eaefb5;
	background: -moz-linear-gradient(top,  #eaefb5 0%, #e1e9a0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaefb5), color-stop(100%,#e1e9a0));
	background: -webkit-linear-gradient(top,  #eaefb5 0%,#e1e9a0 100%);
	background: -o-linear-gradient(top,  #eaefb5 0%,#e1e9a0 100%);
	background: -ms-linear-gradient(top,  #eaefb5 0%,#e1e9a0 100%);
	background: linear-gradient(to bottom,  #eaefb5 0%,#e1e9a0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaefb5', endColorstr='#e1e9a0',GradientType=0 );
	width:230px;
	height:45px;
	margin:10px;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	display:block;

}

.bt_mp:hover {
	border: 1px solid #333;
	-webkit-border-radius: 8px;  
	border-radius: 8px;
	-webkit-box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
	box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
   background: #e5e696;
	background: -moz-linear-gradient(top,  #e5e696 0%, #d1d360 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e696), color-stop(100%,#d1d360));
	background: -webkit-linear-gradient(top,  #e5e696 0%,#d1d360 100%);
	background: -o-linear-gradient(top,  #e5e696 0%,#d1d360 100%);
	background: -ms-linear-gradient(top,  #e5e696 0%,#d1d360 100%);
	background: linear-gradient(to bottom,  #e5e696 0%,#d1d360 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#d1d360',GradientType=0 );
	width:230px;
	height:45px;
	margin:10px;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	display:block;

}



/*-------------------------------*/


.bt_pagseg {
	border: 1px solid #333;
	-webkit-border-radius: 8px;  
	border-radius: 8px;
	-webkit-box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
	box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
	background: #eaefb5;
	background: -moz-linear-gradient(top,  #eaefb5 0%, #e1e9a0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaefb5), color-stop(100%,#e1e9a0));
	background: -webkit-linear-gradient(top,  #eaefb5 0%,#e1e9a0 100%);
	background: -o-linear-gradient(top,  #eaefb5 0%,#e1e9a0 100%);
	background: -ms-linear-gradient(top,  #eaefb5 0%,#e1e9a0 100%);
	background: linear-gradient(to bottom,  #eaefb5 0%,#e1e9a0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaefb5', endColorstr='#e1e9a0',GradientType=0 );
	width:230px;
	height:45px;
	margin:10px;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	display:block;

	
}

.bt_pagseg:hover {
	border: 1px solid #333;
	-webkit-border-radius: 8px;  
	border-radius: 8px;
	-webkit-box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
	box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
   background: #e5e696;
	background: -moz-linear-gradient(top,  #e5e696 0%, #d1d360 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e696), color-stop(100%,#d1d360));
	background: -webkit-linear-gradient(top,  #e5e696 0%,#d1d360 100%);
	background: -o-linear-gradient(top,  #e5e696 0%,#d1d360 100%);
	background: -ms-linear-gradient(top,  #e5e696 0%,#d1d360 100%);
	background: linear-gradient(to bottom,  #e5e696 0%,#d1d360 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#d1d360',GradientType=0 );

	width:230px;
	height:45px;
	margin:10px;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	display:block;

}


.bt_cupom {
	border: 1px solid #333;
	-webkit-border-radius: 8px;  
	border-radius: 8px;
	-webkit-box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
	box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
	background: #eaefb5;
	background: -moz-linear-gradient(top,  #eaefb5 0%, #e1e9a0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaefb5), color-stop(100%,#e1e9a0));
	background: -webkit-linear-gradient(top,  #eaefb5 0%,#e1e9a0 100%);
	background: -o-linear-gradient(top,  #eaefb5 0%,#e1e9a0 100%);
	background: -ms-linear-gradient(top,  #eaefb5 0%,#e1e9a0 100%);
	background: linear-gradient(to bottom,  #eaefb5 0%,#e1e9a0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaefb5', endColorstr='#e1e9a0',GradientType=0 );
	width:230px;
	height:45px;
	margin:10px;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	display:block;

	
}

.bt_cupom:hover {
	border: 1px solid #333;
	-webkit-border-radius: 8px;  
	border-radius: 8px;
	-webkit-box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
	box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
   background: #e5e696;
	background: -moz-linear-gradient(top,  #e5e696 0%, #d1d360 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e696), color-stop(100%,#d1d360));
	background: -webkit-linear-gradient(top,  #e5e696 0%,#d1d360 100%);
	background: -o-linear-gradient(top,  #e5e696 0%,#d1d360 100%);
	background: -ms-linear-gradient(top,  #e5e696 0%,#d1d360 100%);
	background: linear-gradient(to bottom,  #e5e696 0%,#d1d360 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#d1d360',GradientType=0 );

	width:230px;
	height:45px;
	margin:10px;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	display:block;

}

.alerta {
	border: 1px dashed red;
	-webkit-border-radius: 8px;  
	border-radius: 8px;
	-webkit-box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
	box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
	width:300px;
	margin-top: 50px;
	padding:15px;
}

.ok {
	border: 1px dashed ForestGreen;
	-webkit-border-radius: 8px;  
	border-radius: 8px;
	-webkit-box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
	box-shadow:  1px 1px 1px 2px rgba(128, 128, 128, 0.5);
	width:300px;
	margin-top: 50px;
	padding:15px;
	color:ForestGreen;
}

.cadastro {
	border: 1px solid gray;
	-webkit-border-radius: 2px;  
	border-radius: 2px;
	padding:15px;
	margin-left:50px;
	margin-bottom:5px;
	font-size:13px;
	color:#333;
	
	 
}